<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

<<<<<<< HEAD
  名前:
  <%= f.text_field :name, :class => "message-info", :placeholder => "名前" %>
  
  年齢:
  <%= f.text_field :age, :size => "5", :class => "message-info", :placeholder => "年齢" %>

  内容:
  <%= f.text_area :body, :size => "40x5", :class => "message-info",  :placeholder =>"内容を入力してください" %>
  <%= f.submit class: "btn btn-sm btn-primary" %>
=======
<div class="form-horizontal">
  <div class="pull-left">
    <div class="form-group">
      <label for="name" class="col-xs-2 control-label">名前:</label>
        <div class="col-xs-6">
        <%= f.text_field :name, :class => "form-control", :placeholder => "名前を入力", :size => "20x1" %>
        <span class="help-block">名前を入力。</span>
        </div>
    </div>
    <div class="form-group">
      <label for="age" class="col-xs-2 control-label">年齢:</label>
        <div class="col-xs-6">
        <%= f.text_field :age, :class => "form-control", :placeholder => "0～110で入力", :size => "10x1" %>
        <span class="help-block">年齢を入力。</span>
        </div>
    </div>
    <div class="form-group">
      <label for="body" class="col-xs-2 control-label">内容:</label>
        <div class="col-xs-10">
        <%= f.text_area :body, :class => "form-control", :placeholder => "投稿内容を入力", :size => "40x5" %>
        <span class="help-block">投稿内容を入力。</span>
        </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
      <%= f.submit class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
>>>>>>> master
<% end %>