<div class="panel panel-default">
  <div class="panel-heading">
    <span style="font-size:28px"><B>メッセージ一覧</B></span>
  </div>
    
  <div class="panel-body">
    <% @messages.each do |message| %>
      <span class="label label-info"><%= message.name %></span>
      <%= message.body %>
      <br>
    <% end %>
  </div>
</div>

<%= form_for(Message.new) do |f| %>
  <span style="vertical-align:8px"><B>名前:</B></span>
  <%= f.text_area :name, :size => "20x1" %>
    <br>
  <span style="vertical-align:50px"><b>内容:</B></span>
  <%= f.text_area :body, :size => "40x5" %>
    <br>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>